# backend/requirements.txt
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
supabase==1.0.3  # Para autenticación
asyncpg>=0.25.0  # Driver PostgreSQL asíncrono
python-multipart>=0.0.5
email-validator>=1.1.3
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4