# Kafka
kafka-python==2.2.13     # ← CAMBIAR: de 2.2.13 a 2.0.2
aiokafka==0.12.0

# Async
aiofiles==23.2.0
libtorrent

asyncpg==0.30.0

# Async HTTP client for subtitles API
aiohttp==3.11.18

# NO incluir python-libtorrent - se instala desde sistema